[submodule "boost-cmake"]
	path = boost-cmake
	url = https://github.com/Orphis/boost-cmake.git
[submodule "sml"]
	path = sml
	url = https://github.com/boost-experimental/sml.git
[submodule "aws-sdk-cpp"]
	path = aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp.git
